
01_Preliminary/__pycache__/

01_Preliminary/log/

01_Preliminary/models/

01_Preliminary/simulate_lanchester_model_with_reds_and_blues/

01_Preliminary/trial/

*.json

01_Preliminary/trial-0/

01_Baseline/models/

01_Baseline/__pycache__/

01_Baseline/trial-0/

01_Baseline/trial-1/

02_Add_LN/trial-20/

history_plots/

04_Deeper_Transformer/models_architecture/

04_Deeper_Transformer/__pycache__/

02_Add_LN/__pycache__/

03_Big_batch/trial-30/

04_Deeper_Transformer/trial-40/

06_Obstacles/__pycache__/

06_Obstacles/log/

06_Obstacles/models/
